<div id="<%= dom_id channel %>" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <h2 class="my-5 text-2xl">
    <%= link_to channel.title, channel %>
  </h2>
  <p class="my-5">
    <%= channel.description %>
  </p>
  <p class="my-5">
    <% if channel.artwork.attached? %>
      <%= link_to channel do %>
        <%= image_tag channel.artwork %>
      <% end %>
    <% else %>
      アートワーク画像はありません
    <% end %>
  </p>
</div>
