<div id="<%= dom_id channel %>">
  <%= link_to channel, data: { turbo_frame: '_top' }, class: 'flex flex-row items-start overflow-hidden bg-white border border-gray-300 rounded-lg hover:bg-gray-100' do %>
    <div class="object-scale-down">
      <% if channel.artwork.attached? %>
        <%= image_tag channel.artwork, alt: "#{channel.title}のアートワーク", class: 'max-w-none size-24 md:size-36 object-scale-down rounded-l' %>
      <% else %>
        <%= image_tag 'default-channel.svg', alt: '番組のアートワーク', class: 'max-w-none size-24 md:size-36 rounded-l' %>
      <% end %>
    </div>
    <div class="flex flex-col justify-between p-1 md:p-3 leading-normal">
      <h2 class="text-md md:text-2xl font-bold tracking-tight text-gray-900 hover:underline line-clamp-2">
        <%= channel.title %>
      </h2>
      <p class="my-0 md:my-2 text-sm md:text-base font-normal text-gray-700 line-clamp-2 md:line-clamp-3">
        <%= channel.description %>
      </p>
    </div>
  <% end %>
</div>
