<div id="<%= dom_id channel %>">
  <%= link_to channel, data: { turbo_frame: '_top' }, class: 'flex flex-row items-start bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100' do %>
    <div class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg">
      <% if channel.artwork.attached? %>
        <%= image_tag channel.artwork %>
      <% else %>
        アートワーク画像はありません(TODO: デフォルト画像を置く)
      <% end %>
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        <%= channel.title %>
      </h2>
      <p class="mb-3 font-normal text-gray-700">
        <%= channel.description %>
      </p>
    </div>
  <% end %>
</div>
