<div id="<%= dom_id channel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= channel.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= channel.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= channel.group_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this channel", channel, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this channel', edit_channel_path(channel), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
