<div id="<%= dom_id channel %>">
  <%= link_to channel, data: { turbo_frame: '_top' }, class: 'flex flex-row items-start bg-white border border-gray-300 rounded-lg hover:bg-gray-100' do %>
    <div class="object-scale-down">
      <% if channel.artwork.attached? %>
        <%= image_tag channel.artwork, class: 'max-w-none size-36 object-scale-down rounded' %>
      <% else %>
        <%= image_tag 'default-channel.svg', class: 'max-w-none size-36 rounded' %>
      <% end %>
    </div>
    <div class="flex flex-col justify-between p-3 leading-normal">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900 hover:underline">
        <%= channel.title %>
      </h2>
      <p class="my-2 font-normal text-gray-700 line-clamp-3">
        <%= channel.description %>
      </p>
    </div>
  <% end %>
</div>
