<%= form_with(model: [channel.group, channel], class: 'contents') do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: 'mb-1 block font-medium text-gray-800' %>
    <%= form.text_field :title, maxlength: 100, class: 'block rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: 'mb-1 block font-medium text-gray-800' %>
    <%= form.text_area :description, rows: 8, class: 'block rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="my-5">
    <%= form.label :artwork, class: 'mb-1 block font-medium text-gray-800' %>
    <%= form.file_field :artwork,
                        accept: 'image/jpeg, image/png, image/webp',
                        class: 'block w-full file:mr-4 file:px-4 file:rounded-l-md file:border-0 file:bg-gray-300 file:py-2.5 file:text-sm file:text-gray-900 hover:file:bg-gray-400 file:cursor-pointer border border-gray-400 rounded-md cursor-pointer focus:outline-none' %>
  </div>

  <div class="inline">
    <%= form.submit class: 'text-white bg-blue-600 border border-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer w-24' %>
  </div>
<% end %>
