<% content_for :title, "#{@group.name}の番組 - " %>
<div class="w-full flex flex-col gap-2">
  <%= render 'groups/introduction', group: @group %>

  <%= turbo_frame_tag 'group-tab', data: { turbo_action: 'advance' } do %>
    <div class="mb-2 border-b border-gray-200">
      <ul class="flex flex-wrap -mb-px text-sm md:text-md font-medium text-center text-gray-500 space-x-1 md:space-x-2">
        <li>
          <%= link_to '新着エピソード', @group, class: 'inline-flex items-center justify-center p-2.5 md:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group' %>
        </li>
        <li>
          <%= link_to '番組', group_channels_path(@group), class: 'inline-flex items-center justify-center p-2.5 md:p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active group' %>
        </li>
        <% if @group.admin? current_user %>
          <li>
            <%= link_to 'メンバー', group_members_path(@group), class: 'inline-flex items-center justify-center p-2.5 md:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group' %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if @group.admin? current_user && @group.channels.empty? %>
      <div class="m-8 text-center">
        <%= link_to '番組を作る', new_group_channel_path(@group), data: { turbo_frame: '_top' }, class: 'text-white border border-blue-700 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-bold rounded-lg px-12 py-4 text-center h-fit w-full' %>
      </div>
    <% end %>
    <div id="channels" class="min-w-full min-h-32 space-y-2">
      <% if @channels.present? %>
        <%= render partial: 'channels/channel', collection: @channels %>
        <%= paginate @channels %>
      <% else %>
        <div class="p-4 my-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
          <span class="font-medium">番組がありません</span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
