<% content_for :title, "#{@channel.title}のエピソード" %>
<% content_for :top_bar do %>
  <%= render 'shared/top_bar', name: @channel.group.name, model: @channel.group %>
<% end %>
<div class="w-full space-y-6">
  <div class="space-y-3 md:space-y-0 md:flex md:gap-4">
    <%= image_tag @channel.artwork_url, alt: @channel.artwork_alt, class: 'size-28 max-w-none rounded mx-auto' %>
    <div class="flex-1 space-y-2">
      <div class="flex justify-between">
        <h1 class="font-bold text-xl md:text-3xl"><%= @channel.title %></h1>
        <%= render 'channel_actions', channel: @channel %>
      </div>
      <div class="text-sm text-gray-500">
        <%= simple_format h(@channel.description) %>
      </div>
    </div>
  </div>
  <%= render 'episodes_list', channel: @channel, episodes: @episodes %>
</div>
