<% content_for :title, "#{@channel.title}のエピソード - " %>
<% content_for :top_bar do %>
  <%= render 'shared/top_bar', name: @channel.group.name, model: @channel.group %>
<% end %>
<div class="w-full space-y-6">
  <div class="space-y-3 md:space-y-0 md:flex md:gap-4">
    <div>
      <% if @channel.artwork.attached? %>
        <%= image_tag @channel.artwork, alt: "#{@channel.title}のアートワーク", class: 'size-28 max-w-none rounded mx-auto' %>
      <% else %>
        <%= image_tag 'default-channel.svg', alt: '番組のアートワーク', class: 'size-28 max-w-none rounded mx-auto' %>
      <% end %>
    </div>
    <div class="flex-1 space-y-2">
      <div class="flex justify-between">
        <h1 class="font-bold text-xl md:text-3xl"><%= @channel.title %></h1>
        <%= render 'channel_actions', channel: @channel %>
      </div>
      <div class="text-sm text-gray-500">
        <%= simple_format h(@channel.description) %>
      </div>
    </div>
  </div>
  <section>
    <% if @channel.episodes.present? %>
      <h5 class="pl-1 border-s-4 border-blue-600 text-xl md:text-2xl font-semibold">この番組のエピソード</h5>
      <% if @channel.group.admin? current_user %>
        <div class="m-8 text-center">
          <%= link_to 'エピソードを作成', new_channel_episode_path(@channel), class: 'text-white border border-blue-700 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-bold rounded-lg text-sm px-12 py-4' %>
        </div>
      <% end %>
      <div class="divide-y divide-blue-100">
        <%= render @episodes %>
      </div>
      <%= paginate @episodes %>
    <% else %>
      <%= render 'no_episodes', channel: @channel %>
    <% end %>
  </section>
</div>
