<% content_for :title, "#{@channel.title}のエピソード - " %>
<div class="w-full">
  <div>
    <div class="flex">
      <div class="m-3">
        <% if @channel.artwork.attached? %>
          <%= image_tag @channel.artwork %>
        <% else %>
          アートワーク画像はありません
        <% end %>
      </div>
      <div>
        <%= link_to @channel.group.name, @channel.group, class: 'text-xl' %>
        <h1 class="font-bold text-4xl"><%= @channel.title %></h1>
        <%= simple_format h(@channel.description), class: 'my-3' %>
        <% if @channel.group.admin? current_user %>
          <%= link_to '編集', edit_group_channel_path(@channel.group), class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
          <div class="inline-block ml-2">
            <%= button_to '削除', [@channel.group, @channel], method: :delete, data: { turbo_confirm: "この番組を削除すると、それに関連するエピソードも失われます。\n\n本当に削除してもよろしいですか？" }, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
          </div>
          <%= link_to 'エピソードを作成', new_channel_episode_path(@channel), class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
        <% end %>
        <%= link_to '戻る', group_channels_path(@channel.group), class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
      </div>
    </div>
  </div>
  <section class="space-y-2">
    <% if @channel.episodes.present? %>
      <h5 class="text-xl">この番組のエピソード</h5>
      <%= render @episodes %>
      <%= paginate @episodes %>
    <% else %>
      <div class="p-4 my-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
        <span class="font-medium">エピソードが投稿されていません</span>
      </div>
    <% end %>
  </section>
</div>
