<tr id="<%= dom_id membership %>" class="bg-white border-b">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
    <%= membership.user.name %>
  </th>
  <td class="px-6 py-4">
    <%= membership.user.email %>
  </td>
  <td class="px-6 py-4">
    <%= button_to "#{membership.admin} から変更する",
      group_member_path(membership.group, membership.user),
      method: :patch,
      params: { membership: { admin: !membership.admin }},
      data: { turbo_stream: true },
      class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
  </td>
  <td class="px-6 py-4">
    <%= button_to "#{membership.withdrawal} から変更する",
      group_member_path(membership.group, membership.user),
      method: :patch,
      params: { membership: { withdrawal: !membership.withdrawal }},
      data: { turbo_stream: true },
      class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
  </td>
</tr>
