<tr id="<%= dom_id membership %>" class="bg-white border-b even:bg-gray-50">
  <th scope="row" class="px-4 py-4 font-medium whitespace-nowrap">
    <%= membership.user.name %>
  </th>
  <td class="px-4 py-4">
    <%= membership.user.email %>
  </td>
  <td class="px-4 py-4">
    <%= toggle_button(current_user, membership, :admin) %>
  </td>
  <td class="px-4 py-4">
    <%= toggle_button(current_user, membership, :withdrawal) %>
  </td>
</tr>
