<% content_for :title, "#{t('.title', resource: 'ユーザー')} - " %>
<div class="w-96 mx-auto">
  <h1 class="font-bold text-3xl text-center"><%= t('.title', resource: 'ユーザー') %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: %>

    <div class="my-5">
      <%= f.label :name, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.text_field :name, autofocus: true, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    </div>

    <div class="my-5">
      <%= f.label :email, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.email_field :email, autocomplete: 'email', placeholder: 'email@example.com', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="my-5">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
      <p class="mt-2 text-sm text-gray-500">
        <%= t('.leave_blank_if_you_don_t_want_to_change_it') %>
        <% if @minimum_password_length %>
          。<%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        <% end %>
      </p>
    </div>

    <div class="my-5">
      <%= f.label :password_confirmation, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
      <p class="mt-2 text-sm text-gray-500">確認のため、再度パスワードを入力してください</p>
    </div>

    <div class="my-5">
      <%= f.label :current_password, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.password_field :current_password, autocomplete: 'current-password', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
      <p class="mt-2 text-sm text-gray-500"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></p>
    </div>

    <div class="my-3">
      <%= f.submit t('.update'), class: 'text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-3.5 me-2 mb-2 cursor-pointer' %>
      <%= link_to t('devise.shared.links.back'), :back, class: 'text-gray-600 hover:text-white border border-gray-600 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-3.5 text-center me-2 mb-2' %>
    </div>
  <% end %>
</div>
