<div id="<%= dom_id group %>">
  <h2 class="my-5 text-2xl">
    <%= group.name %>
  </h2>
  <p class="my-5">
    <%= group.description %>
  </p>
  <p class="my-5">
    <% if group.icon.attached? %>
      <strong class="block font-medium mb-1">グループのアイコン:</strong>
      <%= image_tag group.icon %>
    <% else %>
      アイコン画像はありません
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "詳細", group, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to '編集', edit_group_path(group), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
