<div id="<%= dom_id group %>">
  <%= link_to group, class: 'flex flex-row items-center bg-white border border-gray-300 rounded-lg hover:bg-gray-100' do %>
    <div class="object-cover md:h-auto md:w-48">
      <% if group.icon.attached? %>
          <%= image_tag group.icon, class: 'size-40 max-w-none w-40' %>
      <% else %>
        <%= image_tag 'default-group.svg', class: 'size-40 max-w-none' %>
      <% end %>
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal w-4/5">
      <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 truncate hover:underline">
        <%= group.name %>
      </h2>
      <p class="mb-3 font-normal text-gray-700 line-clamp-3">
        <%= group.description %>
      </p>
    </div>
  <% end %>
</div>
