<div id="<%= dom_id group %>">
  <%= link_to group, class: 'flex flex-row items-center overflow-hidden bg-white border border-gray-300 rounded-lg hover:bg-gray-100' do %>
    <%= image_tag group.icon_url, alt: group.icon_alt, class: 'size-24 md:size-28 max-w-none rounded-l object-cover' %>
    <div class="flex-1 flex flex-col gap-1 px-2 py-1 md:px-3 md:py-2 leading-normal min-w-0">
      <h2 class="md:text-xl font-semibold tracking-tight text-gray-700 truncate hover:underline">
        <%= group.name %>
      </h2>
      <p class="text-sm line-clamp-3">
        <%= group.description %>
      </p>
    </div>
  <% end %>
</div>
