<div id="<%= dom_id group %>" class="my-3">
  <%= link_to group, class: 'flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100' do %>
    <div class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg">
      <% if group.icon.attached? %>
          <%= image_tag group.icon %>
      <% else %>
        アイコン画像はありません(TODO: デフォルト画像を置く)
      <% end %>
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        <%= group.name %>
      </h5>
      <p class="mb-3 font-normal text-gray-700">
        <%= group.description %>
      </p>
    </div>
  <% end %>
</div>
