<div class="space-y-3 md:space-y-0 md:flex md:gap-3">
  <div>
    <% if group.icon.attached? %>
      <%= image_tag group.icon, alt: "#{group.name}のアイコン", class: 'size-28 max-w-full md:max-w-none object-scale-down rounded mx-auto' %>
    <% else %>
      <%= image_tag 'default-group.svg', alt: 'グループのアイコン', class: 'size-28 max-w-none object-scale-down rounded mx-auto' %>
    <% end %>
  </div>
  <div class="flex-1">
    <div class="flex justify-between w-full">
      <h1 class="font-bold text-xl md:text-3xl"><%= group.name %></h1>
      <div x-data="{ open: false }" class="relative">
        <button type="button" @click="$refs.group_menu.removeAttribute('x-cloak'); open = !open;" class="menu-button inline-flex self-center items-center px-1 py-2.5 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-50 focus:outline-none h-fit">
          <svg class="size-5 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
            <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
          </svg>
        </button>
        <div x-ref="group_menu" x-show="open" @click.away="open = false" x-transition x-cloak class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded-lg group-hover:block z-20">
          <% if group.admin? current_user %>
            <%= link_to 'グループの編集', edit_group_path(group), class: 'flex w-full items-center rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100' %>
            <%= button_to 'グループの削除', group, method: :delete, data: { turbo_confirm: "このグループを削除すると、それに関連するデータも失われますが、後で取り消すことはできません。\n\n本当に削除してもよろしいですか？" }, class: 'flex w-full items-center rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100' %>
            <%= render 'groups/invitation_modal', group: %>
          <% end %>
          <%= button_to(
            'グループから脱退',
            group_member_path(group, current_user),
            method: :patch,
            params: { membership: { withdrawal: true } },
            data: { turbo_confirm: '脱退すると、グループの番組を利用できなくなります。よろしいですか？' },
            class: 'flex w-full items-center rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100'
          ) %>
        </div>
      </div>
    </div>
    <div class="mt-2 text-sm text-gray-500">
      <div x-data x-init="isTextLong = $refs.description.clientHeight > 192" class="relative">
        <input type="checkbox" id="cp01" name="cp01" class="peer hidden">
        <label x-show="isTextLong" for="cp01" class="absolute z-10 bottom-0 w-full h-32 cursor-pointer text-center bg-gradient-to-b from-gray-50/0 from-0% to-gray-50/95 to-90% peer-checked:from-inherit peer-checked:to-inherit after:leading-10 after:absolute after:z-20 after:bottom-5 after:left-1/2 after:w-64 after:content-['続きを読む'] after:-translate-x-1/2 after:tracking-wider after:text-white after:border after:rounded-3xl after:bg-gray-400 peer-checked:after:content-['閉じる']"></label>
        <div :class="isTextLong ? 'overflow-hidden transition-all ease-out duration-500 h-48 peer-checked:h-auto peer-checked:pb-20' : ''">
          <div x-ref="description">
            <%= simple_format h(group.description) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if group.channels.empty? %>
  <%= render 'groups/no_channels', group: %>
<% end %>
