<div class="flex">
  <div class="basis-1/5 m-4">
    <% if group.icon.attached? %>
      <%= image_tag group.icon, class: 'size-40 max-w-none object-scale-down rounded' %>
    <% else %>
      <%= image_tag 'default-group.svg', class: 'size-40 max-w-none object-scale-down rounded' %>
    <% end %>
  </div>
  <div class="basis-3/5">
    <h1 class="font-bold text-4xl"><%= group.name %></h1>
    <% if description_too_long? group.description %>
      <input type="checkbox" id="toggle_show_hidden" class="peer invisible absolute">
      <div class="mt-2 max-h-24 overflow-hidden transition-all ease-out peer-checked:max-h-[100rem] peer-checked:overflow-visible">
        <%= simple_format h(group.description) %>
      </div>
      <label for="toggle_show_hidden" class="block text-blue-700 cursor-pointer peer-checked:hidden">続きを見る</label>
      <label for="toggle_show_hidden" class="text-blue-700 cursor-pointer hidden peer-checked:block">閉じる</label>
    <% else %>
      <div class="mt-2">
        <%= simple_format h(group.description) %>
      </div>
    <% end %>
  </div>
  <div class="basis-1/5 flex flex-col gap-2">
    <% if group.admin? current_user %>
      <%= link_to '番組を作る', new_group_channel_path(group), class: 'text-white border border-blue-700 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center' %>
      <hr>
      <%= link_to 'グループの編集', edit_group_path(group), class: 'text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center' %>
      <div class="inline-block">
        <%= button_to 'グループの削除', group, method: :delete, data: { turbo_confirm: "このグループを削除すると、それに関連するデータも失われますが、後で取り消すことはできません。\n\n本当に削除してもよろしいですか？" }, class: 'text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center w-full' %>
      </div>
      <hr>
      <%= render 'groups/invitation_modal', group: %>
      <hr>
    <% end %>
    <div class="inline-block">
      <%= button_to(
        'グループから脱退',
        group_member_path(group, current_user),
        method: :patch,
        params: { membership: { withdrawal: true } },
        data: { turbo_confirm: '脱退すると、グループの番組を利用できなくなります。よろしいですか？' },
        class: 'text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center w-full'
      ) %>
    </div>
  </div>
</div>
