<div class="flex">
  <div class="m-3">
    <% if group.icon.attached? %>
      <%= image_tag group.icon %>
    <% else %>
      アイコン画像はありません(TODO: デフォルト画像を置く)
    <% end %>
  </div>
  <div>
    <h1 class="font-bold text-4xl"><%= group.name %></h1>
    <p class="my-5"><%= group.description %></p>
    <% if group.admin? current_user %>
      <%= link_to 'グループの編集(管理者のみ)', edit_group_path(group), class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
      <div class="inline-block ml-2">
        <%= button_to 'グループの削除(管理者のみ)', group, method: :delete, data: { turbo_confirm: "このグループすると、それに関連するデータも失われますが、後で取り消すことはできません。\n\n本当に削除してもよろしいですか？" }, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
      </div>
      <hr />
      <%= link_to '番組を作る(管理者のみ)', new_group_channel_path(group), class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
      <%= render 'groups/invitation_modal', group: %>
    <% end %>
    <%= link_to '参加しているグループに戻る', groups_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= button_to(
      'このグループから脱退する',
      group_member_path(group, current_user),
      method: :patch,
      params: { membership: { withdrawal: true } },
      data: { turbo_confirm: '脱退すると、グループの番組を利用できなくなります。よろしいですか？' },
      class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
    ) %>
  </div>
</div>
