<div class="flex-col">
  <h2 class="font-bold text-4xl"><%= t('.forgot_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: %>

    <div class="my-5">
      <%= f.label :email, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    </div>

    <div class="my-3">
      <%= f.submit t('.send_me_reset_password_instructions'), class: 'rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
