<div id="<%= dom_id episode %>">
  <%= link_to [episode.channel, episode], class: 'block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100' do %>
    <p class="font-normal text-gray-700">
      <%= episode.channel.title %>
    </p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      <%= episode.title %>
    </h5>
    <p class="mb-2 font-normal text-gray-700">
      <%= publication_and_update_dates(episode) %>
    </p>
    <p class="font-normal text-gray-700">
      <%= episode.description %>
    </p>
  <% end %>
</div>
