<div id="<%= dom_id episode %>">
  <%= link_to [episode.channel, episode], data: { turbo_frame: '_top' }, class: 'block p-4 bg-white border border-gray-300 rounded-lg hover:bg-gray-100' do %>
    <% if controller_name != 'channels' %>
      <span class="bg-blue-50 hover:bg-blue-100 text-blue-700 text-sm font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">
        <%= episode.channel.title %>
      </span>
    <% end %>
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 hover:underline">
      <%= episode.title %>
    </h2>
    <p class="mb-2 font-normal text-gray-700">
      <%= publication_and_update_dates(episode) %>
    </p>
    <p class="font-normal text-gray-700 line-clamp-3">
      <%= episode.description %>
    </p>
  <% end %>
</div>
