<div id="<%= dom_id episode %>">
  <div class="p-2 md:px-4 md:py-3 rounded-lg hover:bg-gray-100 space-y-1">
    <h2 class="md:text-xl font-semibold tracking-tight text-gray-700 hover:underline line-clamp-2">
      <%= link_to episode.title, [episode.channel, episode], data: { turbo_frame: '_top' } %>
    </h2>
    <% if controller_name != 'channels' %>
      <%= link_to episode.channel.title, episode.channel, data: { turbo_frame: '_top' }, class:'hover:underline text-sm truncate' %>
    <% end %>
    <%= render 'episodes/publication_dates', episode: %>
    <p class="text-sm line-clamp-3">
      <%= episode.description %>
    </p>
  </div>
</div>
