<div id="<%= dom_id episode %>" class="block p-6 bg-white border border-gray-200 rounded shadow hover:bg-gray-100">
  <%= link_to [episode.channel, episode] do %>
    <p>
      <%= episode.channel.title %>
    </p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      <%= episode.title %>
    </h5>
    <p class="my-5">
      <%= publication_and_update_dates(episode) %>
    </p>
    <p class="font-normal text-gray-700">
      <%= episode.description %>
    </p>
  <% end %>
</div>
