<div id="<%= dom_id episode %>">
  <%= link_to episode do %>
    <p class="my-5 text-2xl">
      <%= episode.title %>
    </p>
    <p class="my-5">
      <%= l episode.created_at.to_date %>に公開
    </p>
    <p class="my-5">
      <%= episode.description %>
    </p>
  <% end %>
</div>
