<div id="<%= dom_id episode %>" class="block p-6 bg-white border border-gray-200 rounded shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <%= link_to [episode.channel, episode] do %>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <%= episode.title %>
    </h5>
    <p class="my-5">
      <%= l episode.created_at.to_date %>に公開
      <% if episode.created_at.to_date != episode.updated_at.to_date %>
        (<%= l episode.updated_at.to_date %>に更新)
      <% end %>
    </p>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      <%= episode.description %>
    </p>
  <% end %>
</div>
