<div id="<%= dom_id episode %>">
  <%= link_to [episode.channel, episode], data: { turbo_frame: '_top' }, class: 'block p-4 bg-white border border-gray-300 rounded-lg hover:bg-gray-100' do %>
    <p class="font-normal text-gray-700">
      <%= episode.channel.title %>
    </p>
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      <%= episode.title %>
    </h2>
    <p class="mb-2 font-normal text-gray-700">
      <%= publication_and_update_dates(episode) %>
    </p>
    <p class="font-normal text-gray-700 line-clamp-3">
      <%= episode.description %>
    </p>
  <% end %>
</div>
