<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <p class="my-5">
      <%= link_to @episode.channel.title, @episode.channel, class: "text-2xl" %>
    </p>

    <p class="my-5">
      <h1 class="font-bold text-4xl"><%= @episode.title %></h1>
    </p>

    <p class="my-5">
      <%= l @episode.created_at.to_date %>に公開
      <% if @episode.created_at.to_date != @episode.updated_at.to_date %>
        (<%= l @episode.updated_at.to_date %>に更新)
      <% end %>
    </p>

    <p class="my-5">
      <%= @episode.description %>
    </p>

    <p class="my-5">
    <% if @episode.enclosure.attached? %>
      <%= audio_tag polymorphic_path(@episode.enclosure), controls: true, controlsList: [:nodownload] %>
    <% else %>
      添付ファイルはありません
    <% end %>
    </p>

    <%= link_to '編集', edit_episode_path(@episode), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to '削除', episode_path(@episode), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to '番組に戻る', channel_path(@episode.channel), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
