<% content_for :title, "#{@episode.title} - " %>
<% content_for :top_bar do %>
  <%= render 'shared/top_bar', name: @channel.title, model: @channel %>
<% end %>
<article class="w-full space-y-3 md:space-y-0 md:flex md:gap-3">
  <%= image_tag @channel.artwork_url, alt: @channel.artwork_alt, class: 'size-28 max-w-none rounded mx-auto' %>
  <div class="flex-1 space-y-2.5">
    <div class="flex justify-between">
      <h1 class="font-bold text-xl md:text-3xl"><%= @episode.title %></h1>
      <%= render 'episode_actions', channel: @channel, episode: @episode %>
    </div>
    <%= render 'publication_dates', episode: @episode %>
    <div class="text-sm text-gray-500">
      <%= simple_format h(@episode.description) %>
    </div>
    <div class="py-2">
      <% if @episode.enclosure.attached? %>
        <%= audio_tag polymorphic_path(@episode.enclosure), controls: true, controlsList: [:nodownload], class: 'w-full' %>
      <% else %>
        添付ファイルはありません
      <% end %>
    </div>
  </div>
</article>
