<div class="flex-col">
  <h2 class="font-bold text-4xl"><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="my-5">
      <%= f.label :email, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    </div>

    <div class="my-5">
      <%= f.label :password, class: 'mb-1 block font-medium text-gray-800' %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="my-3">
        <%= f.check_box :remember_me, class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2' %>
        <%= f.label :remember_me, class: 'font-medium text-gray-900' %>
      </div>
    <% end %>

    <div class="my-3">
      <%= f.submit t('.sign_in'), class: 'rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
