<div>
  <h1 class="font-bold text-4xl">Circle Cast(仮)</h1>
  <p>トップページ作成中</p>
  <% if user_signed_in? %>
    <p><%= current_user.email %>でログインしています！！！</p>
    <p>ユーザー名は<%= current_user.name %>です</p>
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer' %>
  <% else %>
    <%= link_to '新規登録', new_user_registration_path, class: 'text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2' %>
  <% end %>
</div>
