<!DOCTYPE html>
<html lang="ja" prefix="og:http://ogp.me/ms#">
  <head>
    <title><%= yield :title %>CIRCLE CAST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="プライベートな空間でポッドキャストを共有。グループ内のコミュニケーションを最適化しましょう。">
    <meta property="og:title" content="<%= yield :title %>CIRCLE CAST">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:image" content="<%= image_url 'ogp.png' %>">
    <meta property="og:description" content="プライベートな空間でポッドキャストを共有。グループ内のコミュニケーションを最適化しましょう。">
    <meta property="twitter:card" content="summary">
    <%= favicon_link_tag 'favicon.svg', rel: 'icon', type: 'image/svg+xml', sizes: 'any' %>
    <%= favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: nil, sizes: '180x180' %>
    <link rel="manifest" href="<%= asset_path '/site.webmanifest' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-gray-600">
    <% unless request.path == root_path %>
      <header>
        <% if user_signed_in? %>
          <nav>
            <div class="flex justify-between items-center p-4">
              <div>
                <%= link_to groups_path do %>
                  <p class="font-logo text-3xl text-blue-600">CIRCLECAST</p>
                <% end %>
              </div>

              <div x-data="{ open: false }" class="relative">
                <button @click="open = !open" class="flex items-center focus:outline-none">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 ml-2"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    ></path>
                  </svg>
                </button>
                <div x-show="open" @click.away="open = false" x-cloak class="absolute right-0 mt-2 w-40 bg-white border border-gray-300 rounded-lg group-hover:block z-10">
                  <%= link_to '参加グループ', groups_path, class: 'flex w-full items-center rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100' %>
                  <%= link_to 'ユーザー情報', edit_user_registration_path, class: 'flex w-full items-center rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100' %>
                  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'flex w-full items-center rounded-md px-3 py-2 text-gray-700 hover:bg-gray-100' %>
                </div>
              </div>
            </div>
          </nav>
        <% else %>
          <nav>
            <div class="p-4">
              <%= link_to root_path do %>
                <p class="font-logo text-3xl text-blue-600">CIRCLECAST</p>
              <% end %>
            </div>
          </nav>
        <% end %>
      </header>
    <% end %>
    <main class="container mx-auto mt-6 md:mt-20 px-2 md:px-5 flex flex-col max-w-4xl">
      <div id="notice">
        <% if notice.present? %>
          <p class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50"><%= notice %></p>
        <% end %>
      </div>
      <div id="alert">
        <% if alert.present? %>
          <p class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer class="bg-white rounded-lg m-4">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <a href="https://twitter.com/futa4095" target="_blank" class="text-sm text-gray-500 sm:text-center">© 2024 futa4095
        </a>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
          <li>
            <%= link_to 'プライバシーポリシー', privacy_path, class: "mr-4 hover:underline md:mr-6" %>
          </li>
          <li>
            <%= link_to '利用規約', terms_path, class: "mr-4 hover:underline md:mr-6" %>
          </li>
          <li>
            <a href="https://github.com/futa4095/private-podcast" target="_blank" class="hover:underline">GitHub</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
