<!DOCTYPE html>
<html>
  <head>
    <title>Circle Cast(仮)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if notice %>
        <p class="rounded-md bg-green-50 p-4 text-sm text-green-500"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="rounded-md bg-red-50 p-4 text-sm text-red-500"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
