<!DOCTYPE html>
<html>
  <head>
    <title>Circle Cast(仮)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav class="flex">
          <%= link_to 'ロゴ', groups_path, class: 'font-bold text-2xl w-4/5' %>
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200' %>
          <%= link_to 'ユーザー情報', edit_user_registration_path, class: 'py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200' %>
        </nav>
      <% end %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <div id="notice">
        <% if notice.present? %>
          <p class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50"><%= notice %></p>
        <% end %>
      </div>
      <div id="alert">
        <% if alert.present? %>
          <p class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
